<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleHome.css' />
  </head>
  <body>
    <div>
    <h1><img src="https://i.imgur.com/CvnZoPT.jpg"></h1>
    </div>
    <div>
    <p>Welcome to <%= title %>'s Page</p>
    <a href="/skills">Dev Skills List</a>
    </div>
  </body>
</html>
