body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  div {
    height: 200px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
  }

  h1 {
      font-size: 40px;
      color: rgb(123,145,28);
  }

  h3 {
      font-size: 12px;
  }

  a {
    color: fushia;
  }
  
  a:visited {
    color: white;
  }

  .delete-form {
    display: inline-block;
    margin-right: 10px;
  }
    
  li {
    list-style: none;
  }
  
  ul {
    justify-content: left;
  }

  button {
    background-color: #e66465;
    border: solid .5px white;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    color: white;
  }

  button:hover {
    opacity: .7;
  }